In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
regularseason = pd.read_csv('MDataFiles_Stage1/MRegularSeasonDetailedResults.csv')
postseason = pd.read_csv('MDataFiles_Stage1/MNCAATourneyDetailedResults.csv')

In [3]:
def add_new_cols(df):
    df['W_possessions'] = .5 * (df['WFGA'] + (.475 * df['WFTA']) - df['WOR'] + df['WTO'])
    df['WeFG'] = (df['WFGM'] + (.5 * df['WFGM3'])) / df['WFGA']
    df['WTSpct'] = df['WScore'] / (2 * (df['WFGA'] + .475 * df['WFTA']))
    df['WFTR'] = df['WFTA'] / df['WFGA']
    df['W3PR'] = df['WFGA3'] / (df['WFGA'] + (.475*df['WFTA']))
    df['WORpct'] = df['WOR'] / (df['WOR'] + df['LDR'])
    df['WDRpct'] = df['WDR'] / (df['WDR'] + df['LOR'])
    df['WREBpct'] = (df['WOR'] + df['WDR']) / (df['WOR'] + df['LDR'] + df['LOR'] + df['WDR'])
    df['WTR'] = (df['WOR'] + df['WDR'])
    df['WATOr'] = df['WAst'] / df['WTO']
    df['WAst_pct'] = df['WAst'] / df['WFGM']
    df['WStl_pct'] = df['WStl'] / (df['LFGA'] + .475*df['LFTA'] + df['LTO'])
    df['WBlk_pct'] = df['WBlk'] / (df['LFGA'])
    df['WTO_ratio'] = df['WTO'] / (df['WFGA'] + .475*df['WFTA'] + df['WTO'])
    df['L_possessions'] = .5 * (df['LFGA'] + (.475 * df['LFTA']) - df['LOR'] + df['LTO'])
    df['LeFG'] = (df['LFGM'] + (.5 * df['LFGM3'])) / df['LFGA']
    df['LTSpct'] = df['LScore'] / (2 * (df['LFGA'] + .475 * df['LFTA']))
    df['LFTR'] = df['LFTA'] / df['LFGA']
    df['L3PR'] = df['LFGA3'] / (df['LFGA'] + (.475*df['LFTA']))
    df['LORpct'] = df['LOR'] / (df['LOR'] + df['WDR'])
    df['LDRpct'] = df['LDR'] / (df['LDR'] + df['WOR'])
    df['LREBpct'] = (df['LOR'] + df['LDR']) / (df['WOR'] + df['LDR'] + df['LOR'] + df['WDR'])
    df['LTR'] = (df['LOR'] + df['LDR'])
    df['LATOr'] = df['LAst'] / df['LTO']
    df['LAst_pct'] = df['LAst'] / df['LFGM']
    df['LStl_pct'] = df['LStl'] / (df['WFGA'] + .475*df['WFTA'] + df['WTO'])
    df['LBlk_pct'] = df['LBlk'] / (df['WFGA'])
    df['LTO_ratio'] = df['LTO'] / (df['LFGA'] + .475*df['LFTA'] + df['LTO'])
    
    df = df[['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc',
       'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
       'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF',
       'W_possessions', 'WeFG', 'WTSpct', 'WFTR', 'W3PR', 'WORpct', 'WDRpct',
       'WREBpct', 'WTR', 'WATOr', 'WAst_pct', 'WStl_pct', 'WBlk_pct',
       'WTO_ratio', 'L_possessions', 'LeFG', 'LTSpct', 'LFTR', 'L3PR',
       'LORpct', 'LDRpct', 'LREBpct', 'LTR', 'LATOr', 'LAst_pct', 'LStl_pct',
       'LBlk_pct', 'LTO_ratio']]
    
    return df

In [4]:
regularseason = add_new_cols(regularseason)
postseason = add_new_cols(postseason)

In [5]:
df = regularseason
df.columns

Index(['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc',
       'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
       'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF',
       'W_possessions', 'WeFG', 'WTSpct', 'WFTR', 'W3PR', 'WORpct', 'WDRpct',
       'WREBpct', 'WTR', 'WATOr', 'WAst_pct', 'WStl_pct', 'WBlk_pct',
       'WTO_ratio', 'L_possessions', 'LeFG', 'LTSpct', 'LFTR', 'L3PR',
       'LORpct', 'LDRpct', 'LREBpct', 'LTR', 'LATOr', 'LAst_pct', 'LStl_pct',
       'LBlk_pct', 'LTO_ratio'],
      dtype='object')

In [6]:
duke_regular_season = regularseason[(regularseason['WTeamID'] == 1181) | (regularseason['LTeamID'] == 1181)]

In [7]:
dukewins = duke_regular_season[(duke_regular_season['WTeamID'] == 1181)] 
dukelosses = duke_regular_season[(duke_regular_season['LTeamID'] == 1181)]

In [8]:
dukewinsoffense = dukewins.filter(like = 'W')
dukewinsoffense
dukelossesoffense = dukelosses.filter(like = 'L')
dukelossesoffense

dukewinsoffense.columns = dukewinsoffense.columns.str.lstrip('W')
dukelossesoffense.columns = dukelossesoffense.columns.str.lstrip('L')

dukeoffense = pd.concat([dukewinsoffense, dukelossesoffense])
dukeoffense.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 589 entries, 121 to 92435
Data columns (total 31 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   TeamID        589 non-null    int64
 1   Score         589 non-null    int64
 2   Loc           481 non-null    object
 3   FGM           589 non-null    int64
 4   FGA           589 non-null    int64
 5   FGM3          589 non-null    int64
 6   FGA3          589 non-null    int64
 7   FTM           589 non-null    int64
 8   FTA           589 non-null    int64
 9   OR            589 non-null    int64
 10  DR            589 non-null    int64
 11  Ast           589 non-null    int64
 12  TO            589 non-null    int64
 13  Stl           589 non-null    int64
 14  Blk           589 non-null    int64
 15  PF            589 non-null    int64
 16  _possessions  589 non-null    float64
 17  eFG           589 non-null    float64
 18  TSpct         589 non-null    float64
 19  FTR           589 non-null    float64
 20  3PR           589 non-null    float64
 21  ORpct         589 non-null    float64
 22  DRpct         589 non-null    float64
 23  REBpct        589 non-null    float64
 24  TR            589 non-null    int64
 25  ATOr          589 non-null    float64
 26  Ast_pct       589 non-null    float64
 27  Stl_pct       589 non-null    float64
 28  Blk_pct       589 non-null    float64
 29  TO_ratio      589 non-null    float64
 30  WLoc          108 non-null    object
dtypes: float64(13), int64(16), object(2)
memory usage: 147.2+ KB

In [9]:
dukewinsdefense = dukewins.filter(like = 'L')
dukewinsdefense
dukelossesdefense = dukelosses.filter(like = 'W')
dukelossesdefense

dukewinsdefense.columns = dukewinsdefense.columns.str.lstrip('L')
dukelossesdefense.columns = dukelossesoffense.columns.str.lstrip('W')

dukedefense = pd.concat([dukewinsdefense, dukelossesdefense])
dukedefense.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 589 entries, 121 to 92435
Data columns (total 31 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   TeamID        589 non-null    int64
 1   Score         589 non-null    int64
 2   WLoc          481 non-null    object
 3   FGM           589 non-null    int64
 4   FGA           589 non-null    int64
 5   FGM3          589 non-null    int64
 6   FGA3          589 non-null    int64
 7   FTM           589 non-null    int64
 8   FTA           589 non-null    int64
 9   OR            589 non-null    int64
 10  DR            589 non-null    int64
 11  Ast           589 non-null    int64
 12  TO            589 non-null    int64
 13  Stl           589 non-null    int64
 14  Blk           589 non-null    int64
 15  PF            589 non-null    int64
 16  _possessions  589 non-null    float64
 17  eFG           589 non-null    float64
 18  TSpct         589 non-null    float64
 19  FTR           589 non-null    float64
 20  3PR           589 non-null    float64
 21  ORpct         589 non-null    float64
 22  DRpct         589 non-null    float64
 23  REBpct        589 non-null    float64
 24  TR            589 non-null    int64
 25  ATOr          589 non-null    float64
 26  Ast_pct       589 non-null    float64
 27  Stl_pct       589 non-null    float64
 28  Blk_pct       589 non-null    float64
 29  TO_ratio      589 non-null    float64
 30  Loc           108 non-null    object
dtypes: float64(13), int64(16), object(2)
memory usage: 147.2+ KB

In [10]:
dukeoffense.describe()

,TeamID,Score,FGM,FGA,FGM3,FGA3,FTM,FTA,OR,DR,...,3PR,ORpct,DRpct,REBpct,TR,ATOr,Ast_pct,Stl_pct,Blk_pct,TO_ratio
count,589.0,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000,...,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000
mean,1181.0,80.178268,27.682513,59.069610,7.882852,21.105263,16.930390,23.458404,12.351443,24.830221,...,0.300919,0.354714,0.677097,0.520688,37.181664,1.305871,0.518110,0.093937,0.080933,0.149857
std,0.0,11.700942,4.976412,7.495593,2.985486,5.669388,6.242022,7.736985,4.224614,4.887688,...,0.075240,0.092984,0.088366,0.064002,6.731938,0.682978,0.113629,0.039272,0.044297,0.043466
min,1181.0,47.000000,14.000000,39.000000,1.000000,5.000000,2.000000,6.000000,3.000000,12.000000,...,0.079114,0.100000,0.437500,0.311828,20.000000,0.250000,0.173913,0.011608,0.000000,0.041333
25%,1181.0,72.000000,24.000000,54.000000,6.000000,17.000000,12.000000,18.000000,9.000000,22.000000,...,0.246624,0.285714,0.611111,0.477612,32.000000,0.866667,0.440000,0.064725,0.050847,0.119306
50%,1181.0,79.000000,27.000000,59.000000,8.000000,21.000000,17.000000,23.000000,12.000000,25.000000,...,0.301244,0.350000,0.677419,0.518519,37.000000,1.166667,0.518519,0.089059,0.076923,0.149001
75%,1181.0,87.000000,31.000000,64.000000,10.000000,25.000000,21.000000,29.000000,15.000000,28.000000,...,0.348617,0.420000,0.736842,0.560606,41.000000,1.571429,0.600000,0.120219,0.104478,0.179430
max,1181.0,124.000000,48.000000,83.000000,18.000000,43.000000,40.000000,49.000000,30.000000,44.000000,...,0.581498,0.613636,0.941176,0.750000,61.000000,6.400000,0.840000,0.208741,0.305085,0.273973

In [11]:
dukedefense.describe()

,TeamID,Score,FGM,FGA,FGM3,FGA3,FTM,FTA,OR,DR,...,3PR,ORpct,DRpct,REBpct,TR,ATOr,Ast_pct,Stl_pct,Blk_pct,TO_ratio
count,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000,...,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000
mean,1293.918506,66.996604,24.879457,59.035654,4.889643,15.633277,12.348048,17.872666,12.010187,22.220713,...,0.232523,0.322903,0.645286,0.479312,34.230900,0.921591,0.472261,0.072280,0.057826,0.178667
std,102.285615,12.219227,4.698828,7.246891,2.490740,5.405148,5.568933,7.087578,4.209226,4.835615,...,0.078093,0.088366,0.092984,0.064002,6.454788,0.581338,0.127937,0.032399,0.038872,0.055173
min,1102.000000,40.000000,13.000000,39.000000,0.000000,3.000000,0.000000,3.000000,2.000000,8.000000,...,0.052083,0.058824,0.386364,0.250000,10.000000,0.142857,0.130435,0.000000,0.000000,0.023481
25%,1207.000000,58.000000,22.000000,54.000000,3.000000,12.000000,8.000000,13.000000,9.000000,19.000000,...,0.179959,0.263158,0.580000,0.439394,30.000000,0.555556,0.388889,0.049110,0.030769,0.138933
50%,1299.000000,67.000000,25.000000,59.000000,5.000000,15.000000,12.000000,17.000000,12.000000,22.000000,...,0.225694,0.322581,0.650000,0.481481,34.000000,0.800000,0.476190,0.070175,0.051724,0.174768
75%,1393.000000,75.000000,28.000000,63.000000,6.000000,19.000000,15.000000,22.000000,15.000000,25.000000,...,0.284900,0.388889,0.714286,0.522388,38.000000,1.090909,0.555556,0.092593,0.081967,0.213120
max,1463.000000,113.000000,42.000000,85.000000,15.000000,33.000000,37.000000,50.000000,27.000000,43.000000,...,0.516836,0.562500,0.900000,0.688172,64.000000,7.500000,0.857143,0.194057,0.220339,0.408971

In [22]:
def team_regular_season(team_id,year = all, day = 150, average = True):
    
    teamwins = regularseason[(regularseason['WTeamID'] == team_id)] 
    teamlosses = regularseason[(regularseason['LTeamID'] == team_id)]
    
    teamwinsoffense = teamwins.filter(like = 'W')    
    teamwinsoffense
    teamlossesoffense = teamlosses.filter(like = 'L')
    teamlossesoffense

    teamwinsoffense.columns = teamwinsoffense.columns.str.lstrip('W')
    teamlossesoffense.columns = teamlossesoffense.columns.str.lstrip('L')

    teamoffense = pd.concat([teamwinsoffense, teamlossesoffense])

    teamwinsdefense = teamwins.filter(like = 'L')
    teamwinsdefense
    teamlossesdefense = teamlosses.filter(like = 'W')
    teamlossesdefense

    teamwinsdefense.columns = teamwinsdefense.columns.str.lstrip('L')
    teamlossesdefense.columns = teamlossesoffense.columns.str.lstrip('W')

    teamdefense = pd.concat([teamwinsdefense, teamlossesdefense])
    
    return teamoffense, teamdefense

In [18]:
marquetteoffense, marquettedefense = team_regular_season(1266)

In [19]:
marquetteoffense.describe()

,TeamID,Score,FGM,FGA,FGM3,FGA3,FTM,FTA,OR,DR,...,3PR,ORpct,DRpct,REBpct,TR,ATOr,Ast_pct,Stl_pct,Blk_pct,TO_ratio
count,563.0,563.000000,563.000000,563.000000,563.000000,563.000000,563.000000,563.000000,563.000000,563.000000,...,563.000000,563.000000,563.000000,563.000000,563.000000,563.000000,563.000000,563.000000,563.000000,563.000000
mean,1266.0,74.781528,25.827709,56.788632,7.293073,19.609236,15.833037,21.872114,11.380107,24.115453,...,0.293303,0.335775,0.682571,0.513470,35.495560,1.284174,0.579200,0.087007,0.059297,0.163664
std,0.0,12.429454,4.957522,7.328568,3.268158,5.998225,6.394546,8.028064,4.238583,5.017673,...,0.087014,0.102938,0.095486,0.067462,6.594608,0.718508,0.136223,0.039879,0.036966,0.046158
min,1266.0,35.000000,10.000000,36.000000,0.000000,5.000000,2.000000,4.000000,1.000000,9.000000,...,0.093458,0.041667,0.360000,0.313433,18.000000,0.153846,0.117647,0.000000,0.000000,0.025055
25%,1266.0,66.000000,22.000000,52.000000,5.000000,15.000000,11.000000,16.000000,8.000000,21.000000,...,0.231245,0.264706,0.625000,0.470234,31.000000,0.857143,0.484360,0.059840,0.033898,0.133902
50%,1266.0,75.000000,25.000000,57.000000,7.000000,19.000000,15.000000,21.000000,11.000000,24.000000,...,0.294118,0.333333,0.684211,0.513514,35.000000,1.133333,0.578947,0.083037,0.054545,0.158955
75%,1266.0,83.000000,29.000000,61.500000,9.000000,24.000000,20.000000,27.000000,14.000000,27.000000,...,0.355624,0.407407,0.750000,0.557377,40.000000,1.545455,0.680000,0.112360,0.082079,0.190956
max,1266.0,114.000000,45.000000,82.000000,18.000000,39.000000,38.000000,53.000000,25.000000,42.000000,...,0.548330,0.600000,0.947368,0.728571,56.000000,8.000000,0.931034,0.223214,0.186441,0.322494

In [20]:
marquettedefense.describe()

,TeamID,Score,FGM,FGA,FGM3,FGA3,FTM,FTA,OR,DR,...,3PR,ORpct,DRpct,REBpct,TR,ATOr,Ast_pct,Stl_pct,Blk_pct,TO_ratio
count,563.000000,563.000000,563.000000,563.000000,563.000000,563.000000,563.000000,563.000000,563.000000,563.000000,...,563.000000,563.000000,563.000000,563.000000,563.000000,563.000000,563.000000,563.000000,563.000000,563.000000
mean,1304.252220,68.721137,24.349911,57.181172,6.669627,19.655417,13.351687,19.438721,11.401421,22.243339,...,0.297083,0.317429,0.664225,0.486530,33.644760,1.146087,0.574926,0.080975,0.059150,0.172403
std,107.092256,12.833121,4.603122,6.837140,2.998383,5.595046,6.219640,8.110737,4.359160,4.895285,...,0.082134,0.095486,0.102938,0.067462,6.447565,0.607453,0.129330,0.035906,0.038913,0.051623
min,1102.000000,32.000000,10.000000,42.000000,0.000000,6.000000,1.000000,2.000000,1.000000,7.000000,...,0.099338,0.052632,0.400000,0.271429,15.000000,0.166667,0.166667,0.010188,0.000000,0.040733
25%,1205.000000,60.000000,21.000000,52.000000,4.000000,16.000000,9.000000,13.000000,8.500000,19.000000,...,0.239467,0.250000,0.592593,0.442623,29.000000,0.757353,0.480741,0.054832,0.032787,0.134907
50%,1329.000000,69.000000,24.000000,57.000000,6.000000,20.000000,13.000000,19.000000,11.000000,22.000000,...,0.293998,0.315789,0.666667,0.486486,33.000000,1.058824,0.576923,0.077912,0.054545,0.168480
75%,1385.000000,78.000000,28.000000,61.000000,9.000000,23.000000,17.000000,25.000000,14.000000,26.000000,...,0.353274,0.375000,0.735294,0.529766,38.000000,1.400000,0.666667,0.101609,0.079365,0.204481
max,1462.000000,104.000000,38.000000,78.000000,20.000000,39.000000,33.000000,44.000000,31.000000,37.000000,...,0.613321,0.640000,0.958333,0.686567,57.000000,6.333333,0.928571,0.221932,0.272727,0.357143